<div class="posts-header">
  <%= render "shared/first-header"%>
</div>

<div class="index-contents">
  <div class="contents-wrapper">
    <div class="posts-title">
      <p class="posts-maintitle">POSTS</p>
      <p class="posts-subtitle">投稿一覧</p>
    </div>
    <div class="posts">
      <div class="posts-content">
        <p class="post-title">転職を考えています。</p>
        <div class="post-content">
          <p>私は社会人二年目の24歳です。毎日の生活に不満はありませんが、その分何も変わりない毎日が退屈してきました。そこで、最近流行りのプログラミングを学ぼうと思うのですが、いかがでしょうか？みなさんの意見をおきかせいただきたいです！！</p>
        </div>
        <ul>
          <div class="post-choice-wrapper">
            <li class="post-choice">A</li>
          </div>
          <div class="post-choice-wrapper">
            <li class="post-choice">B</li>
          </div>
          <div class="post-choice-wrapper">
             <li class="post-choice">C</li>
          </div>
        </ul>
        <img class="heart", id='heart', src='/assets/good-btn.jpg'>
      </div>
    </div>
  </div>
</div>

<div class="posts-footer">
  <%= render "shared/first-footer"%>
</div>