<div class="posts-header">
  <%= render "shared/first-header"%>
</div>

<div class="index-contents">
  <div class="contents-wrapper">
    <div class="posts-title">
      <p class="posts-maintitle">POSTS</p>
      <p class="posts-subtitle">投稿一覧</p>
    </div>
    
    <%= render partial: 'posts', locals: {posts: @posts} %>
    
  </div>
</div>

<div class="posts-footer">
  <%= render "shared/first-footer"%>
</div>