<header>
  <div class="head-contents">
    <p class="user">> ログイン</p>
    <p class="user">> 新規登録</p>
  </div>
</header>
<body class="body-contents">
  <div class="main">
    <figure>
      <img src="/images/icon.jpg" alt="icon" class="icon">
    </figure>
    <div class="content">
      <div class="content-title">
        <h2><span><ruby>3<rt>・</rt>日<rt>・</rt>間<rt>・</rt>だけ</ruby></span>の相談相手がここにいます。</h2>
      </div>
      <div class="content-discribe">
        <p>あなたの背中を押すお手伝いをさせてください。</p>
        <p>あなたの投稿が、あなたのいいねが誰かの背中を押すように。</p>
      </div>
      <div class="index-content">
        <span class="index">> 投稿一覧へ</span>
      </div>
    </div>

  </div>

</body>
<footer>



</footer>