.first_header{
  background-color: #F2F9F7;
  display: flex;
  justify-content: center;
}

.first_header_icon{
  height: 20vh;
}

.first_footer{
  background-color: #F2F9F7;
  height: 20vh;
}

.second_header{
  background-color: #F2F9F7;
  display: flex;
  justify-content: center;
}

.second_header_icon{
  height: 20vh;
}

.second_footer{
  background-color: #F2F9F7;
  height: 20vh;
}