// header1, footer1
.first_header{
  background-color: #F2F9F7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.first_header_icon{
  height: 15vh;
}

.first_footer{
  background-color: #F2F9F7;
  height: 10vh;
}

.new_post{
  font-size: 2vh;
  color: #2B8099;
  text-decoration: none;
}

// header2, footer2

.second_header{
  background-color: #F2F9F7;
  display: flex;
  justify-content: center;
}

.second_header_icon{
  height: 20vh;
}

.second_footer{
  background-color: #F2F9F7;
  height: 10vh;
}

.new_post:hover{
  font-size: 2vh;
  color:#2B8099;
  text-align:right;
  background-color: #FCFCFC;
  border: 1px solid #2B8099;
  border-radius: 14px;
  padding: 1vh;
  text-decoration: none;
  cursor: pointer;
}

// subheader
.subheader_wrapper{
  height: 5vh;
  background-color: #F2F9F7;
  border-top: 1px solid #2B8099;
  border-bottom: 1px solid #2B8099;
  display: flex;
  justify-content: space-evenly;
}

.subheader_column{
  font-size: 2vh;
  color: #2B8099;
  text-decoration: none;
  margin: auto 0;
}

.subheader_column:hover{
  font-size: 2vh;
  text-shadow: 0.5px 0.5px 0.5px #2B8099;
  color: #F2F9F7;
  text-decoration: none;
  margin: auto 0;
}

// footer1, 2
.copy-right{
  font-size: 5px;
  text-align: center;
}

// errors

.error-alert{
  text-align: center;
}